<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso Denegado - Charlotte</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/public/css/seguridad/sinAcceso.css">
</head>
<body class="bg-[#f8fafc] flex items-center justify-center min-h-screen p-6">

    <div class="max-w-4xl w-full bg-white rounded-2xl shadow-sm border border-gray-100 p-12 flex flex-col md:flex-row items-center gap-12">
        
        <div class="flex-1 text-center md:text-left">
            <h1 class="text-5xl font-extrabold text-gray-900 mb-4">¡Acceso denegado!</h1>
            <p class="text-lg text-gray-500 mb-8 leading-relaxed">
                Lo sentimos, pero no tienes los permisos necesarios para acceder a esta página.
            </p>
            <p>Requieres el permiso <%= resource %></p>
            <br>
            
            <div class="flex flex-col sm:flex-row gap-4 justify-center md:justify-start">
                <a href="javascript:history.back()" class="btn-primario text-center">
                    Volver al inicio
                </a>
            </div>
        </div>
        <div class="flex-1 flex justify-center">
            <img src="/public/assets/seguridad/acceso-denegado (2).png" alt="Acceso Denegado">
        </div>
    </div>

</body>
</html>