<aside class="barra-lateral">
  <div class="flex items-center gap-3 mb-10">
    <div class="logo-box">C</div>
    <div>
      <h4 class="text-sm font-bold text-gray-800">Charlotte</h4>
      <p class="text-[10px] text-gray-400">Restaurant OS</p>
    </div>
  </div>

  <nav class="menu-navegacion">
    <a href="#"><i class="fa-solid fa-table-columns"></i> Dashboard</a>
    <a href="#"><i class="fa-solid fa-receipt"></i> Pedidos</a>
    <a href="#" class="activo"
      ><i class="fa-solid fa-user-group"></i> Usuarios</a
    >
    <a href="#"><i class="fa-solid fa-gear"></i> Ajustes</a>
  </nav>

  <div class="menu-inferior">
    <a href="#"><i class="fa-regular fa-circle-question"></i> Ayuda</a>
  </div>

</aside>
